@page "/eventos"

<!-- Utilizar DOM en Blazor -->
@rendermode InteractiveServer

<PageTitle>Event Handler 1</PageTitle>

<h1>Event Handler Example 1</h1>

<h2>@headingValue</h2>

<button @onclick="DoSomething">Click me</button>

@code {
    private string headingValue = "Initial heading";

    private void DoSomething()
    {
        // Realiza alguna acción cuando se hace clic en el botón
        headingValue = $"New heading ({DateTime.Now})";
    }
}

